# FastAPI
APP_ENV=local
APP_PORT=8000

# LLM
OPENAI_API_KEY=
OPENAI_TEXT_MODEL=gpt-4o-mini
GEMINI_API_KEY=
GEMINI_TEXT_MODEL=gemini-2.0-flash

# Image generation (Gemini)
GEMINI_IMAGE_MODEL=gemini-nanobanana

# DB
DB_URL=sqlite:///./app.db

# Storage
STATIC_DIR=app/static

